{% extends 'base/base.html'%}

{% block title%} Inventario {% endblock%}
{%block mn%}
<meta name="description" content="Gestiona aqui todo lo referente a tus inventarios">
    <meta name="keywords" content="inventario, articulos, productos, gestionar inventario, gestion inventario">
    <meta name="robots" content="index, follow">
    <meta name="language" content="Spanish">
    <meta name="autor" content="Mi punto de venta">
    <meta name="country" content="El Salvador">
    <meta name="city" content="San Salvador">
    <meta name="copyright" content="Mi punto de venta">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="
    margin-bottom: 5px;">
  Agregar Producto
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complete los datos del producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="container">
            <form method="POST" action="">{% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="Producto">Producto</label>
                  
                  <select class="custom-select" id="Producto" name="Producto">
                    <option selected required>Producto</option>
                    {% for producto in productos%}
                    <option value="{{producto.id}}" >{{producto.nombre}}</option>
                    {% endfor%}
                    
                    </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="Cantidad">Cantidad</label>
                  <input name="Cantidad" type="number" class="form-control" id="Cantidad" placeholder="Cantidad" required>
                </div>
                </div>
              
              
             
              <!--<div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Administrador
                  </label>
                </div>
              </div>
              -->

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
         <button type="submit" class="btn btn-success">Guardar</button>
          </div>
            </form>

    </div>
    </div>
  </div>
</div>
{% endblock%}
{%block contenido%} 
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      inventario</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Precio</th>
              <th>Cantidad</th>
              
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Precio</th>
              <th>Cantidad</th>
              
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </tfoot>
          <tbody>
            {% for lista in ListaMercancias %}
            <tr>
              <td>{{lista.Producto.nombre}}</td>
              <td>{{lista.Producto.marca}}</td>
              <td>{{lista.Producto.precio}}</td>
              <td>{{lista.cantidad}}</td>
              <td><a class="btn btn-success" href="{% url 'inventario:edi_inv' lista.id %}" role="button">Editar</a></td>
              <td><a class="btn btn-danger" href="{% url 'inventario:eli_inv' lista.id %}" role="button">Eliminar</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

</div>


{% endblock%}